# ===============================
# PostgreSQL (тестовый)
# ===============================
# --- для postgres image ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_test

# App DB settings (used by app + migrations in tests)
DB_HOST=auth_postgres_test
DB_PORT=5432
DB_NAME=auth_test
DB_USER=postgres
DB_PASSWORD=postgres

# DB_URL=postgresql+asyncpg://postgres:postgres@auth_postgres_test:5432/auth_test

REDIS_HOST=auth_redis_test
REDIS_PORT=6379

# ===============================
# JWT настройки
# ===============================
JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH=keys/jwtRS256.key
JWT_PUBLIC_KEY_PATH=keys/jwtRS256.key.pub

# ===============================
# OAuth (тестовый, dummy ок)
# ===============================
YANDEX_CLIENT_ID=dummy
YANDEX_CLIENT_SECRET=dummy
YANDEX_REDIRECT_URI=http://test/oauth/yandex/callback

GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
GOOGLE_REDIRECT_URI=http://test/oauth/google/callback

# ===============================
# Флаг для тестов
# ===============================
TESTING=1
ENABLE_TRACER=false

OTEL_SAMPLING_RATIO=0.1
OTEL_SERVICE_VERSION=1.0.0
OTEL_SERVICE_NAME=auth-tests
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318/v1/traces

# ===============================
# PYTHONPATH
# ===============================
PYTHONPATH=/app/src:/app
